.page-header__menu {
  a {
    &::after {
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
}

.social-block__list {
  transition: opacity 0.15s ease-out;
}

.social-block__link {

  &--fb {
    transition: opacity 0.2s ease-in 0.1s, transform 0.2s ease-in 0.1s;
  }

  &--insta {
    transition: opacity 0.2s ease-in 0.2s, transform 0.2s ease-in 0.2s;
  }

  &--vk {
    transition: opacity 0.2s ease-in 0.3s, transform 0.2s ease-in 0.3s;
  }
}
